section.skills {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    min-height: 50vh;
    background-color: rgb(25, 64, 71);
    color: white;
}

@media screen and (max-width: 768px) {
    section.skills {
        background-color: rgb(33, 177, 177);
        color: black;
    }
}